$primary-color: rgb(255, 255, 255);

$primary-bg-color: rgb(86, 157, 170);

$secondary-bg-color: rgb(215, 236, 243);

$unfilled-cell-color: rgb(201, 167, 235);

$unfilled-cell-color-hover: rgb(141, 102, 153);

$filled-cell-color: rgb(156, 206, 175);

$filled-cell-color-hover: rgb(79 151 106);